* {
        box-sizing: border-box;
}
html {
        background: url('../media/linuxporn.png');
}
.Box-header {
        position: fixed;
        top: 0; left: 0; right: 0; z-index: 1;
        line-height: 50px;
        margin: 0;
        padding: 0;
        font-size: 1.4em;
        text-align: center;
        font-weight: bold;
        background: #e4e4e4b2;
        backdrop-filter: blur(5px);
}
.instrument {
        display: inline-block;
        position: relative;
        margin-top: 50px;
}
body {
        max-width: 1200px;
        padding: 10px;
        margin: auto;
        background-color: #fff;
}
.audio {
        text-align: center;
        background-color: black;
        display: inline-block;
        border: none;
        color: black;
        font-size: 20px;
}
@media screen and (min-width: 420px) {
        .video {
                max-width: 52%;
        }
}

@media (min-width: 760px) {
        .video {
                max-width: 24%;
        }
}
.github {
        background: hsla(0, 0%, 100%, 1);
        top: 0px; left: auto; width: 50px; height: 50px; z-index: 2;
        margin: 5px;
        display: inline-block;
        position: sticky;
        image-rendering: optimizeSpeed;
        cursor: pointer;
        overflow: auto;
}
.buttdababy {
        background: hsla(0, 0%, 100%, 1);
        font-size: 20px;
        margin-bottom: 50px;
        display: inline-block;
        position: sticky;
        image-rendering: optimizeSpeed;
        cursor: pointer;
        overflow: auto;
}
.button {
        position: relative;
        display: inline-block;
        margin-top: 2px;
}
.videorick {
        position: sticky;
        margin: 5px;
        display: inline-block;
        box-shadow: 1px 1px 5px black;
}
.titlehead {
        position: sticky;
        text-align: center;
        display: inline-block;
        margin: 0;    
}
.bruh {
        border: 5px;
}