@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Rubik&display=swap');

html {
  background: url("/images/bg-page.jpg");
  background-size: 100%;
}

body { background-color: #00000000; }

/* Header */

#box-header{
  color: var(--text-color);
  font-weight: 600;
  font-family: sans-serif;
  text-transform: uppercase;
}

#box-header a { text-decoration: none; cursor: default; }

.titlehead {
  position: sticky;
  text-align: center;
  display: inline-block;
  margin: 0;
}

/* Media Request for adaptive style */

/* Desktop */
@media screen and (min-width: 1200px) and (orientation: landscape) {
  #box-header {
    position: absolute;
    top: 1%; left: 29%; right: 29%;
    display: inline-block;
    /*всё, что связано с шрифтами*/
    font-size: 40px;
    text-align: center;
  }
  main {
    /* max-width: auto;
    display: inherit;
    margin: auto;
    margin-top: 15em;
    padding: 10px; */
    min-height: 100%;
    height: auto !important;
    margin: 20em auto -20px;
  }
}

/* Tablet? */
@media screen and (min-width: 600px) and (max-width: 1200px) {
  #box-header {
    position: absolute;
    top: 15%; left: 2em; right: 2em;
    display: inline-block;
    /* всё, что связано с шрифтами */
    font-size: 40px;
    text-align: center;
  }
  body {
    max-width: auto;
    display: inherit;
    margin: auto;
    margin-top: 400px;
    padding: 10px;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  #box-header {
    position: absolute;
    top: 15px; left: 20%; right: 20%;
    display: inline-block;
    background-color: #212529;
    /*всё, что связано с шрифтами*/
    font-size: 22px;
    text-align: center;
  }
  main {
    max-width: auto;
    display: inherit;
    margin: auto;
    margin-top: 20vw;
    padding: 10px;
  }
}

/* Media request for light/dark theme */

/* Light */
@media (prefers-color-scheme: light) {
  :root {
      --text-color: #000;
      --back-color: #f0f0f0;
  }
  main {
      background: #e7e7e7aa;
  }
  .content-blog {
      background: #fafafa;
      box-shadow: #3e3e3e 0px 2px 35px;
      border-radius: 10px;
      backdrop-filter: blur(5px);
  }
  main {
    backdrop-filter: blur(5px);
  }
  #pash {
    color: #000;
  }
  #pash:hover {
    color: #573aff;
    transition: color .2s linear;
  }
  #box-header {
    background-color: #c2c2c2;
    /* line-height: 50px; */
    box-shadow: #212529 2px 2px 12px;
  }
  a {
    color: var(--text-color);
  }
  a:hover {
    color:#cc0000;
    transition: color .2s linear;
  }
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
      --text-color: white;
      --back-color: #44444425;
  }
  main {
      background: #222222d2;
      backdrop-filter: blur(5px);
  }
  .content-blog {
    background-color: #383c3fd2;
  }
  a {
    color: var(--text-color)
  }
  a:hover {
    color: #e9ec27;
    transition: color .2s linear;
  }
  #box-header {
    background-color: rgb(26, 26, 26, 0.5);
    backdrop-filter: blur(5px);
    line-height: 70px;
  }
  #box-header a:hover {
    color: #ff8800;
    transition: all .2s ease-in-out;
  }
  #pash {
    color: #fff;
  }
  #pash:hover {
    color: #00a2ff;
    transition: color .2s linear;
  }
}

/* Other things */

.content-blog {
  color: var(--text-color);
  margin: auto;
  max-width: 1200px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.contact {
  max-width: 350px;
  margin: auto;
}

#contact {
  text-align: left;
}

.button {
  border-color: #000;
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Практическая работа */
.pr {
  line-height: 34px;
  font-weight: bold;
}