@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
  --text-color: #eeeaea;
}

* {
  box-sizing: border-box;
}
html {
  background: linear-gradient(to right, #f0f0f0 50%, #d32d17 50%);
  background-size: cover;
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .🎅 {
    position: absolute;
    top: 20%; left: 30%; right: 30%;
    line-height: 100px;
    display: inline-block;
    background-color: #000000;
    border-radius: 10px;
    /*всё, что связано с шрифтами*/
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: var(--text-color);
  }
  body {
    max-width: auto;
    display: inherit;
    margin: auto;
    margin-top: 400px;
    padding: 10px;
    box-shadow: 2px, 2px, 30px;
    background-color: #000;
    border-top-left-radius: 10px; border-top-right-radius: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .🎅 {
    position: absolute;
    top: 26%; left: 30%; right: 30%;
    line-height: 50px;
    display: inline-block;
    background-color: #000;
    border-radius: 10px;
    /*всё, что связано с шрифтами*/
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: var(--text-color);
  }
  body {
    max-width: auto;
    display: inherit;
    margin: auto;
    margin-top: 400px;
    padding: 10px;
    background-color: #000;
    border-top-left-radius: 10px; border-top-right-radius: 10px;
  }
}

@media screen and (max-width: 600px) {
  .🎅 {
    position: absolute;
    top: 15px; left: 20%; right: 20%;
    line-height: 60px;
    display: inline-block;
    background-color: #000;
    box-shadow: 1px 1px 10px;
    border-radius: 10px;
    border-top-radius: 10px;
    /*всё, что связано с шрифтами*/
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  body {
    max-width: auto;
    display: inherit;
    margin: auto;
    margin-top: 20vw;
    padding: 10px;
    background-color: #000;
    border-top-left-radius: 10px; border-top-right-radius: 10px;
    background-color: #000;
  }
}

.instrument {
  display: none;
  position: relative;
}

.content-blog {
  background-color: #393939;
  margin: auto;
  max-width: 1200px;
  text-align: center;
  border-radius: 10px;
  color: var(--text-color);
  content-visibility: auto;
}

.🎅 a {
  color: var(--text-color);
}

.content-blog a {
  color: var(--text-color);
}

.titlehead {
  position: sticky;
  text-align: center;
  display: inline-block;
  margin: 0;
}

.button {
  background: var(--text-color);
  border-color: #000;
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.clocker {
  transform: scale(2);
}
