.video {
    width: 1210;
    height: 680;
    background-color: black;
    display: inline-block;
    position: static;
    box-shadow: 0 14px 28px #00000025, 0 10px 10px #00000025;
}
.return {
    font-size: 14px;
    color: black;
}